// 常用的变量
$ghs-color: #7f1084;
$background-color: #fafafa;
$col-0:#000;
$col-3:#333;
$col-6:#666;
$col-9:#999;
$col-c:#ccc;
$col-e:#eee;
$col-f:#fff;
$col-d8:#D8D8D8;
$col-f0:#f0f0f0;
$col-f8:#f8f8f8;
$col-ori:#ff5000;
$col-blue:#3080ff;
$col-red:#f05b5a;
$col-yel:#f8f6b8;
$col-green:#16d690;





